/* Universal Styles */
body {
  margin: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

a:hover {
  color: rgb(60, 179, 113);
}

h1,
h2 {
  font-family: 'Open Sans', sans-serif;
  color: rgb(60, 60, 60);
  font-weight: 700;
  margin-bottom: 1rem;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: rgb(60, 60, 60);
  font-weight: 600;
  margin: 0;


}
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: darkgrey;
  font-size: 1rem;
}


/* Header */

header {
  margin-top: 0;
  display: flex;
  height: 64px;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 1;
  width: 100%;
}

.branding {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 32px;
  margin: 12px 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.desktop {
  margin-right: 8px;
}

.desktop
a {
  margin-right: 16px;
  color: black;
}

/* Content */

#content {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  width: 100%;
}

/* Learn */
.learn {
  display: inline-flex;
  background-color: rgba(60, 60, 60, 0.2);
  width: 100%;
}

.imagecontainer {
  display: inline-block;
  width: 60%;
  margin: 32px 24px;
}

.imagecontainer
img {
  width: 100%;
  height: auto;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.3rem;
  width: 30%;
  padding-left: 10px;
}

.text .button  {
  width: 60%;
  padding: 8px;
  margin-top: 1rem;
  color: white;
  background-color: rgb(60, 179, 113);
  font-size: 18px;
  text-align: center;
  justify-content: center;
}

.text .button:hover {
  background-color: darkgrey;
}

/* Practice */

.practice {
  display: flex;
  background-color: white;
  width: 100%;
  overflow: hidden;
}

.info {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 24px;
  border-bottom: 4px solid rgba(60, 60, 60, 0.1);
}

.row
img {
  display: inline-block;
  height: auto;
  width: 80%;
  padding: 32px;
}

.row
.caption {
  display: block;
  width: 65%;
  line-height: 1.5rem;
}


/* Start Learning */
.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(60, 60, 60, 0.2);
  width: 100%;
}

/* Footer */
footer {
  display: flex;
  border-top: 1px solid darkgrey;
  font-family: 'Open Sans', sans-serif;
  color: darkgrey;
}

.copyright {
  display: flex;
  flex-grow: 1;
  padding-left: 24px;
}

footer span {
  padding-top: 32px;
  padding-right: 16px;
  margin-right: 8px;
  padding-bottom: 32px;
}
